@** Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
    * http://www.nop-templates.com/t/licensinginfo
*@

@model Nop.Web.Models.Catalog.ProductDetailsModel.AddToCartModel

<div class="add-to-cart">
    <div class="quantity">
        @*@Html.LabelFor(model => model.EnteredQuantity, new { @class = "qty-label" }, ":")*@
        @if (Model.AllowedQuantities.Count > 0)
        {
            @Html.DropDownListFor(model => model.EnteredQuantity, Model.AllowedQuantities, new { @class = "qty-dropdown" })
        }
        else
        {
            <span class="decrease">-</span>
            @Html.TextBoxFor(model => model.EnteredQuantity, new { @class = "qty-input" })
            <span class="increase">+</span>
        }
    </div>
    <button type="button" id="add-to-cart-button-@Model.ProductId" class="button-1 add-to-cart-button add-to-wishlist-button miniProductDetailsViewAddToWishlistButton miniProductDetailsViewAddToCartButton" data-productid="@Model.ProductId"><span>@T("shoppingcart.addtowishlist")</span></button>
    @Html.Hidden("addProductVariantToCartUrl", Url.Action("AddProductFromProductDetailsPageToCartAjax", "NopAjaxCartShoppingCart"))
</div>